<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCt5RV3o8k_y4y_SL1wCzppEDWFP_nNG28</string>
	<key>BUNDLE_ID</key>
	<string>ftel.isc.mobinetnextgen.staging</string>
	<key>GCM_SENDER_ID</key>
	<string>294351328328</string>
	<key>GOOGLE_APP_ID</key>
	<string>1:294351328328:ios:f23daf5d827b624390b47d</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<true/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>PROJECT_ID</key>
	<string>mobinet-nextgen</string>
	<key>STORAGE_BUCKET</key>
	<string>mobinet-nextgen.firebasestorage.app</string>
</dict>
</plist>
